<%= form_with(model: habit) do |form| %>
  <div class="justify-content-center my-2" id="input_form">
    <% if habit.errors.any? %>
      <div class="error_explanation alert alert-danger alert-dismissible fade show m-0 p-0" role="alert">
      <p class="mb-0">
        <ul class="m-0 p-0">
          <% habit.errors.each do |error| %>
            <p class="p-0 m-2">Error! <%= error.full_message %></p>
          <% end %>
        </ul></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% end %>

    <div class="field form-group">
      <%= form.label :date, class:"font-weight-bold" %></br>
      <%= form.date_field :date , order: [:day, :month, :year], max: Date.today, value: Date.today, required: true%>
    </div>

    <div class="field form-group">
      <%= form.label :category, class:"font-weight-bold d-flex" %>
      <%= form.select(:category, current_user.categories.collect { |category| [category.name] }) %>
      <%= link_to "Add new category", new_category_path, class:"nav-link p-0 mt-2" %>
    </div>

    <div class="form-group">
      <p , class="font-weight-bold mb-0">Duration</p>
      <div class="row">
        <div class="field col">
          <%= form.label :hours %>
          <%= form.number_field :hours, class:"form-control flex-grow-1", value: 0, max: 23, min:0, required: true %>
        </div>
        <div class="field col">
          <%= form.label :minutes %>
          <%= form.number_field :minutes, class:"form-control flex-grow-1",  value: 0, max: 59, min:0,  required: true %>
        </div> 
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :description, class:"font-weight-bold" %>
      <%= form.text_field :description, class:"form-control", maxlength:50 %>
    </div>

    <%= form.number_field :user_id, id: :habit_user_id,value: current_user.id, type: :hidden %>

    <div class="actions d-flex my-2">
      <%= form.submit class:'btn btn-info btn-block'%>
    </div>
    <div class="actions d-flex my-2">
      <%= link_to 'Cancel', habits_path, class:'btn btn-outline-info btn-block'%>
    </div>
  </div>
<% end %>
