<h2 class="text-center">Tracker</h2>

<div class="d-flex justify-content-between">
  <!-- Search by date -->
  <div class="field form-group">
  <%= form_tag habits_path, method: :get do %>
    <%= label_tag  "Change date:" %></br>
    <%= date_field_tag :search, params[:search], max: Date.today %>
    <%= submit_tag "Search" %>
  <% end %>
  </div>

  <!-- Add new log -->
  <div class="my-auto">
    <%= link_to 'Add', new_habit_path, class:"btn btn-info" %>
  </div>
</div>

<!-- Habits table-->
<div id="table_container  mt-2">
<table class="table table-bordered text-center table-hover shadow" id="habits_table">
  <thead class="thead-dark">
    <tr>
      <th>Category</th>
      <th>Duration</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
      <% @habits.each do |habit| %>
      
        <tr>
          <td><%= habit.category %></td>
          <td><%= habit.hours %> hr <%= habit.minutes %> min</td>
          <td><%= habit.description %></td>
          <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
          <td><%= link_to 'Delete', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
     
    <% end %>
  </tbody>
</table>
</div>

<br>


