<p id="notice"><%= notice %></p>

<h2 class="text-center">Record</h2>

<div class="d-flex flex-row-reverse">
<%= link_to 'New Log', new_habit_path, class:"btn btn-info" %>
</div>

<!-- Form desired date -->
<%= form_with model: @habit do |form| %>
  <div class="field form-group">
      <%= form.label :date, class:"font-weight-bold" %></br>
      <%= form.date_field :search_date , order: [:day, :month, :year], end_year: Date.today.year, required: true %>
  </div>
  <div class="actions my-2">
    <%= form.submit class:'btn btn-info search-button'%>
  </div>
<% end %>

<!-- Habits table-->
<table class="table table-bordered text-center table-hover shadow mt-3">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Duration</th>
      <th>Description</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @habits.each do |habit| %>
      <tr>
        <td><%= habit.date %></td>
        <td><%= habit.category %></td>
        <td><%= habit.hours %> hr <%= habit.minutes %> min</td>
        <td><%= habit.description %></td>
        <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
        <td><%= link_to 'Delete', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


